.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index:9999;

}

.sidenav a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding:10px;
    border-bottom:1px solid rgb(41, 41, 41);
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color:green;
}

.sidenav .closebtn {
    padding:0 !important;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    height:50px;
    width:50px;
    line-height: 45px;
    text-align:center !important;
    border-bottom:none;
}
.sidenav .closebtn:hover{
    background-color:red;
    color:#fff;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}